/* font */
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap'); */

/* main */
/* 로그인 페이지 */
.login {
    width : 400px;
    margin : auto;
    text-align : center;
}

.main-title{   
    font-size: 24px;
    text-align : center;
}

.main-desc{
    text-align : center;
    color : #767676;
    margin : 10px 0 32px;
}

.main-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/*컨테이너2*/
.main-form div{
    display: flex;
}

.main-form div label {
    width : 80px; 
}

.main-form div input {
    height: 28px;
    flex-grow : 1;
}

.flex-input{
    display: flex;
    align-items: center;
}

.flex-input label{
    width : 80px;
}

.flex-input input{
    background-color: royalblue;
    border: 0;
    border-radius : 4px;
    height : 30px;

}

.login-btn{
    
}
