
body {
    width: 500px;
    margin-top: 5%; 
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
    padding-bottom: 30px;
}

h1, p {
    text-align: center;
}

p {
    color: #828282;
    padding-bottom: 20px;
}

input {
    border-color:#eee;
    outline: none;
}

label[for=user-id],
label[for=password] {
    display: inline-block;
    width: 20%;
}

input#user-id,
input#password {
    border-radius: 6px;
    width: 74%;
    height: 25px;
}

input#save-id {
    width: 15px;
    height: 15px;
}

button {
    width: 96%;
    height: 40px;
    background-color: #5b69d1;
    color: white;
    font-size: 22px;
    font-weight: bold;
}