
body {
    width: 500px;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
}

div {
    padding-bottom: 30px;
}

h1, p {
    text-align: center;
}

p {
    color: #828282;
    padding-bottom: 20px;
}

input {
    border-color:#eee;
    outline: none;
}

label[for=user-id],
label[for=password] {
    display: inline-block;
    width: 20%;
}

input#user-id,
input#password {
    border-radius: 5px;
    height: 30px;
    width: 76.9%;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

button {
    width: 100%;
    height: 50px;
    background-color: #5b69d1;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}